@font-face {
    font-family: bodyfont;
    src: url('./static/fonts/body/HKGrotesk-Light.otf');
}

@font-face {
    font-family: headingsfont;
    src: url('./static/fonts/headings/Louis\ George\ Cafe.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
/* font-family: 'Rochester', cursive; */

@keyframes menuanimin {
    from {right: -300px;}
    to {right: 0px;}
}

@keyframes menuanimout {
    from {right: 0px;}
    to {right: -300px;}
}

@keyframes marsspin{
    100% { background-position: 100%; }
}

@keyframes spinner{
    100%{ transform: rotate(360deg); }
}

body::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: black;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: gray;    /* color of the scroll thumb */
    border-radius: 5px;       /* roundness of the scroll thumb */
    border: 2px solid black;  /* creates padding around scroll thumb */
}

body{
    background: black;
    color: white;
    font-family: bodyfont;
}

h1,h2,h3,h4,h5,h6{
    font-family: headingsfont;
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999;
}

.spinner{
    position: fixed;
    top: 50vmin;
    left: 50vmax;
    margin: auto;

    font-size: 4em;
    animation: spinner 3s linear infinite;
    /* background-color: red; */
}

a{
    color: white;
}

header{
    font-family: 'Rochester', cursive !important;
}

.mars{
    background: url('./static/images/mars_1k_color.jpg');
    background-size: cover;
    box-shadow: -20px -20px 50px 20px #000 inset, 0 0 20px 2px #000;
    animation: marsspin 30s linear alternate infinite;
    width: 450px;
    height: 450px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .mars {
        max-height: 350px;
        max-width: 350px;
    }
}

.floatingMenuBtn{
    position: fixed;
    top: 0px;
    right: 0px;
    border-radius: 0px 0px 0px 4px;
}

.menuwrap{
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: none;
    z-index: 100;
}

.right-menu{
    background: black;
    border-left: 1px solid gray;
    height: 100vh;
    width: 300px;
    padding: 10px;
    position: fixed;
    top: 0;
    right: 0;
}